@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --laranja:#E55807;
    --amarelo:#C07F00;
    --azul:#537188;
    --beje: #D8C4B6;
    --verde:#2C3639;
    --font-family: 'Oswald', sans-serif;      
}

body{    
    --font-family: 'Oswald', sans-serif;
    color: black; 
}

input [type=checkbox] {
    border: 2px solid var(--beje);
    box-shadow: none;
}

input [type=checkbox]:checked,
input[type="checkbox"]:focus {  
    background-color: var(--amarelo);
    border: 1px solid var(--beje);
    box-shadow: none;
    outline: none;
}
.navbar{
    border-bottom: 5px solid #537188;
}
.nav-link:hover{
    border-bottom: 2px solid #C07F00;    
}

.banner-1{
    background-image: url(./imagem/banner-carro.jpg);
    
}
.banners {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;       
}

.banners-titulo {
    opacity: .7;
    font-family: var(--font-family);
}
.card {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 3rem;
}
.titulos {
    font-family: var(--font-family);
    color: black;
    font-size: 3rem;
    padding: 1.2rem;
}

.btn {
    background-color:white;
}
.botao-padrao {
    color: white;
    background-color: var(--azul);
    
}
.botao-padrao:hover {
    background-color: var(--amarelo);
}
footer {
    color: white;
    background-color:var(--verde);
}
[data-bs-theme="dark"] {
    .nav-link, .card-title, .btn, .offcanvas, .accordion-button, .nossoservicos,.titulo_carro, #sobrenos, .titulos, main{
        color: white;
    }     
}

/* CARROS */
.main_carro{
    margin-top: 10rem;
}

.titulo_carro{
    font-family: var(--font-family);
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.subtitulo{
    font-family: var(--font-family);
    color: #537188;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.card-title-carros{
    padding-top: 2rem;
    text-decoration: underline;
}
.card-text-carros {
    padding: 1rem;
}

/* @media min 414px */
 
@media screen and (min-width: 1440px){
    .cards{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        gap:30px;
        
    }    
} 

@media screen and (min-width: 375px){
    .cards{
        gap: 30px;
    }
    
}